.popup {
    margin: 0;
    top: 50%;
    left: 50%;
    bottom: 0;
    right: 0;
    width: 30vw;
    height: 30vw;
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, -50%);

    border: 0.3vw solid black;
    border-radius: 2vw;
    background-color: white;
}

.show {
    visibility: visible;
    opacity: 1;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.popupview {
    width: calc(100% - 1.5vw);
    margin-top: 0;
    height: calc(100% - 4vw);
    overflow: hidden;
}

.popupcontent {
    margin: 0;
    width: calc(100% - 0.5vw);
    height: calc(100% - 2vw);
    padding-left: 0.5vw;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1.5vw;
}

.popupheader {
    width: 100%;
    height: 4vw;
    border-bottom: 0.1vw solid black;
}

.popupheader:hover {
    cursor: pointer;
}

.popupheadercontent {
    margin-top: 1vw;
    margin-left: 1vw;
    width: calc(100% - 4vw);
    height: 100%;
    font-size: 2vw;
    font-weight: bold;
    float: left;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.popupexit {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 3vw;
    height: 3vw;
    border-radius: 1vw;
    float: right;
}

.popupexit:hover {
    cursor: pointer;
}

.popupexit:after {
    display: inline-block;
    font-size: 3vw;
    color: darkred;
    content: "\00d7";
}

.layerimage {
    cursor: pointer;
}

.sidebarcomponent {
    cursor: pointer;
    width: calc(100% - 0.8vw);
    margin: 0;
    position: relative;
    flex: 1 1 auto;
}

.sidebarcomponent:not(:last-child) {
    border-left: 0.4vw solid rgb(80, 80, 80);
    border-right: 0.4vw solid rgb(80, 80, 80);
    border-top: 0.4vw solid rgb(80, 80, 80);
}

.sidebarcomponent:last-child {
    border-left: 0.4vw solid rgb(80, 80, 80);
    border-right: 0.4vw solid rgb(80, 80, 80);
    border-top: 0.4vw solid rgb(80, 80, 80);
    border-bottom: 0.4vw solid rgb(80, 80, 80);
}

.countbox {
    height: 1vw;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    position: absolute;
    top: -0.1vw;
    left: -0.1vw;
    background-color: dimgrey;
    color: white;
    font-size: 0.9vw;
    text-align: center;
}

.sidebartooltiptext {
    visibility: hidden;
    max-width: 100%;
    margin-left: 2px;
    margin-right: 2px;
    background-color: rgb(40, 40, 40);
    color: #fff;
    text-align: center;
    font-size: 1.5vw;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.sidebarcomponent:not(:first-child) .sidebartooltiptext {
    bottom: 100%;
}

.sidebarcomponent:not(:first-child) .sidebartooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(40, 40, 40) transparent transparent transparent;
}

.sidebarcomponent:first-child .sidebartooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(40, 40, 40) transparent;
}

.sidebarcomponent:hover .sidebartooltiptext {
    visibility: visible;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0,0.5);
}

.alert {
    margin: auto;
    padding-top: 1vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    width: 55vw;
    height: 6vw;
    background-color: white;
    border: 0.2vw solid red;
    border-radius: 1vw;
    font-size: 2vw;
    color: red;
    text-align: center;
}

.okaybutton {
    margin-top: 1vw;
    height: 2vw;
    width: 5vw;
    background-color: rgb(160, 255, 203);
    border: 0.1vw solid black;
    border-radius: 1vw;
    font-size: 1.2vw;
}

.okaybutton:hover {
    cursor: pointer;
    background-color: rgb(54, 255, 140);
}

.verticalmenu {
    position: absolute;
    left: 0;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.horizontalmenu {
    position: absolute;
    left: 20%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menubutton {
    width: 2vw;
    height: 2vw;
}

.menubutton:hover {
    cursor: pointer;
}

.ghost {
    pointer-events: none;
}
