body {
    margin: 0;
    padding: 0;
    font-size: 1vw;
}

.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5vw;
    background: linear-gradient(to left, blue, black);
}

.libraryname {
    text-decoration: none;
    margin: 0.5vw 0 1vw 2vw;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 3vw;
    text-align: center;
    float: left;
}

.tabsholder {
    margin: 1vw 0 1vw 0;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tab {
    text-decoration: none;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-left: 0.2vw solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 2vw;
    text-align: center;
}

.currtab {
    text-decoration: underline;
    text-decoration-color: rgb(40, 200, 245);
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-left: 0.2vw solid white;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(40, 200, 245);
    font-size: 2vw;
    text-align: center;
}

.tab:hover {
    cursor: pointer;
    color: lightblue;
    text-decoration: underline;
    text-decoration-color: lightblue;
}

.content {
    margin-left: 10vw;
    margin-right: 10vw;
}

.sectionheader {
    color: darkblue;
    font-size: 2vw;
}

#selectform {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.formitem:not(:first-child) {
    margin-left: 2vw;
}

.formbutton {
    background-color: darkblue;
    color: white;
    border: 0.1vw solid black;
    border-radius: 0.5vw;
}

.formbutton:hover {
    background-color: blue;
    color: white;
    border: 0.1vw solid black;
    border-radius: 0.5vw;
}
