body {
    margin: 0;
    padding: 0;
    font-size: 1vw;
}

.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5vw;
    background: linear-gradient(to left, blue, black);
}

.libraryname {
    text-decoration: none;
    margin: 0.5vw 0 1vw 2vw;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 3vw;
    text-align: center;
    float: left;
}

.tabsholder {
    margin: 1vw 0 1vw 0;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tab {
    text-decoration: none;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-left: 0.2vw solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 2vw;
    text-align: center;
}

.currtab {
    text-decoration: underline;
    text-decoration-color: rgb(40, 200, 245);
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-left: 0.2vw solid white;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(40, 200, 245);
    font-size: 2vw;
    text-align: center;
}

.tab:hover {
    cursor: pointer;
    color: lightblue;
    text-decoration: underline;
    text-decoration-color: lightblue;
}

.content {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 15px;
}

.sectionheader {
    color: rgb(0, 0, 90);
    font-size: 40px;
}

.smallsectionheader {
    color: darkblue;
    font-size: 30px;
    margin: 0;
    border-top: 0.2vw solid rgb(0, 0, 90);
    padding-top: 1vw;
}

.lastsectionheader {
    color: rgb(0, 0, 190);
    font-size: 25px;
    margin: 0;
}

.codeheader {
    color: darkblue;
    font-size: 30px;
    margin: 0;
}

.selectform {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.formitem:not(:first-child) {
    margin-left: 2vw;
}

.formbutton {
    background-color: darkblue;
    color: white;
    border: 0.1vw solid black;
    border-radius: 0.5vw;
    min-height: 2vw;
    font-size: 20px;
}

.formbutton:hover {
    background-color: blue;
    color: white;
    border: 0.1vw solid black;
    border-radius: 0.5vw;
}

.formtext {
    color: darkblue;
}

.diagramdescription {
    margin-bottom: 1vw;
}

pre {
    margin: 0;
    padding: 0;
}

pre code {
    margin: 0;
    padding: 0;
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    overflow-x: auto;
}

.keyword {
    color: deepskyblue;
}

.string {
    color: darkorange;
}

.descriptionsection {
    margin-left: 5vw;
    margin-bottom: 5vw;
}

.parameter {
    color: rgb(0, 0, 180);
    font-size: 17px;
    font-weight: bold;
}

.showcasemedia {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 75vw;
    max-height: 40vw;
}

.diagramdetails {
    display: flex;
    flex-direction: row;
}

.smalldiagrams {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 35vw;
    max-height: 40vw;
}
